<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/VTrainer"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Select_Workout_page"></activity>
        <activity android:name=".Workout_tutorial1" />
        <activity android:name=".Create_Workoust" />
        <activity android:name=".Supplements" />
        <activity
            android:name=".Chat_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Update_details" />
        <activity android:name=".user_details" />
        <activity android:name=".LOOOOOOOOOOL" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".Fragment_home" />
        <activity android:name=".Payment_Page" />
        <activity android:name=".Subscription" />
        <activity android:name=".Login" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Register_User_Type" />
        <activity android:name=".Pt_reviews" />
        <activity android:name=".PT_page" />
        <activity android:name=".Client" />
        <activity android:name=".User_profile" />
        <activity android:name=".registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>